<% layout('layouts/boilerplate') %>
<title>My Projects - Meta For Estate</title>

<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-start mb-0">My Projects</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <!-- Card Advance -->

      <div class="row match-height">
        <!-- Congratulations Card -->
        <div class="col-12 col-md-12 col-lg-12">
          <div class="card card-congratulations">
            <div class="card-body text-center">
              <img
                src="app-assets/images/elements/decore-left.png"
                class="congratulations-img-left"
                alt="card-img-left"
              />
              <img
                src="app-assets/images/elements/decore-right.png"
                class="congratulations-img-right"
                alt="card-img-right"
              />
              <div class="avatar avatar-xl bg-primary shadow">
                <div class="avatar-content">
                  <i data-feather="award" class="font-large-1"></i>
                </div>
              </div>
              <div class="text-center">
                <h1 class="mb-1 text-white">See All Of Your Projects</h1>
                <p class="card-text m-auto w-75">
                  You can view the voting polls and create a poll by clicking on
                  View Votes
                </p>
              </div>
            </div>
          </div>
        </div>
        <!--/ Congratulations Card -->
      </div>

      <div class="row match-height">
        <!-- Project Card -->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="card card-profile">
            <img
              src="app-assets/ukraine.jpg"
              class="img-fluid card-img-top"
              alt="Profile Cover Photo"
            />
            <div class="card-body">
              <h3>Project Ukraine</h3>
              <a
                class="badge badge-light-primary profile-badge"
                href="/voting-polls"
                >View All Votes</a
              >
              <hr class="mb-2" />
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h6 class="text-muted fw-bolder">Supporters</h6>
                  <h3 class="mb-0">10.3k</h3>
                </div>
                <div>
                  <h6 class="text-muted fw-bolder">Projects</h6>
                  <h3 class="mb-0">1</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ Profile Card -->
      </div>
    </div>
  </div>
  <!-- END: Content-->

  <div class="sidenav-overlay"></div>
  <div class="drag-target"></div>
</div>
